---
layout: default 
title: The Yoga Studio
banner:
  image: https://placekitten.com/900/600
  small_heading: Welcome to
  heading: The Yoga Studio 
half-section:
  heading: Heading
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolorum accusantium consectetur sint corrupti, eveniet enim ipsum autem, maxime aperiam nisi aliquid officiis eius velit ab natus nesciunt. Veritatis, qui.
  button_text: Sign up
  button_url: "#"
  image: https://placekitten.com/900/600
image-grid:
  heading: Our Classes
  description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis ullam alias sapiente? Vero nemo eaque nesciunt. Labore modi distinctio iure error iste illo facere, autem aliquam veritatis dolorum, vel fugiat?
  button_text: Find out more 
  button_url: "#"
  image: https://placekitten.com/900/600
seo: 
  title: The Ashtanga Yoga Studio in Bali 
  description: 
  keywords: 
  social_image: 
  hide-from-google: false
---

<!-- header -->
{% include banner.html %}


{% include half-section.html %}

{% include image-grid.html %}

<!-- cta -->

<!-- our classes -->