---
layout: default
title: Chloe's Yoga Studio
banner:
  image: uploads/yoga-studio1.jpg
  small_heading: Welcome to
  heading: The Yoga Studio
half-section:
  heading: Heading
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolorum accusantium consectetur sint corrupti, eveniet enim ipsum autem, maxime aperiam nisi aliquid officiis eius velit ab natus nesciunt. Veritatis, qui.
  button_text: Sign up
  button_url: "/schedule"
  image: uploads/yoga-studio2.jpg
  image_focus: center 20%
image-grid:
  heading: Our Classes
  description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis ullam alias sapiente? Vero nemo eaque nesciunt. Labore modi distinctio iure error iste illo facere, autem aliquam veritatis dolorum, vel fugiat?
  button_text: Find out more
  button_url: "/classes"
  image: uploads/yoga-studio3.jpg
testimonial_section:
  heading: Testimonials
  testimonials:
  - name: Duis Aute
    description: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    image: uploads/yoga-studio4.jpg
  - name: Lee
    description: Accusamus velit molestiae nemo sequi ea ipsa cupiditate pariatur quibusdam perspiciatis repudiandae.
    image: uploads/yoga-studio5.jpg
  - name: Kim
    description: Corporis quam modi eligendi a dolorem rem exercitationem voluptatem ut?9
    image: uploads/yoga-studio6.jpg

seo:
  title: The Ashtanga Yoga Studio in Bali
  description: The perfect place to get the ultimate Ashtanga yoga experiences
  keywords:
  social_image: /uploads/yoga-studio1.jpg
  hide-from-google: false
---

<!-- header -->
{% include banner.html %}


{% include half-section.html %}

{% include image-grid.html %}

<!-- testimonials -->

{% include testimonials.html %}

<!-- cta -->

<!-- our classes -->



