<section class="px-5p py-12">
    <form class="grid gap-8 max-w-2xl mx-auto">
        <input class="form-field" type="text" id="name" name="name" placeholder="Name" aria-level="Name">

        <input placeholder="Email" aria-label="Email" class="form-field" type="email" id="email" name="email">

        <div>
        <label class="form-label block" for="message">Message</label>
        <textarea rows="8" id="message" name="message" class="w-full bg-transparent p-4 outline-none border border-pumpkin"></textarea>
        </div>

        <div class="text-right">
            <button class="button" type="submit">Send</button>
        </div>
    </form>
</section>