    <header class="sm:flex justify-between items-center px-5p py-4 absolute z-10 inset-x-0">
        <div class="flex md:items-center absolute bg-white top-[5vh] right-12 w-12 h-12 rounded-full cursor-pointer burger-button">
            <nav class="burger-menu absolute right-6 rounded-l-3xl bg-white/20 md:flex grid w-0 h-0 overflow-hidden border border-white opacity-0 items-center rounded-3xl md:line-clamp-1">
              <a href="/classes" class="p-4 block">Classes</a>
              <a href="/schedule" class="p-4 block">Schedule

            </a>
              <a href="/contact" class="p-4 block">Contact</a>
            </nav>
         </div>
        <a href="/" class="font-serif text-3xl mr-6">The Yoga Studio</a>
    </header>