<footer class="bg-pumpkin text-white">
    <nav class="p-5p grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-8">
        <!-- footer menu -->
        <div>
            <a href="/classes" class="font-serif text-xl uppercase">Our Classes</a>
            <p class="mt-6"> Amet veniam commodo cupidatat sint enim aliquip ullamco qui officia et do culpa Lorem. Ullamco sunt excepteur veniam labore exercitation deserunt consectetur aute adipisicing est do proident nisi ut. Non id culpa aute ex.</p>
        </div>
        <div>
            <a href="/schedule" class="font-serif text-xl uppercase">Schedule</a>
            <p class="mt-6"> Amet veniam commodo cupidatat sint enim aliquip ullamco qui officia et do culpa Lorem. Ullamco sunt excepteur veniam labore exercitation deserunt consectetur aute adipisicing est do proident nisi ut. Non id culpa aute ex.</p>
        </div>
        <div>
            <a href="/contact" class="font-serif text-xl uppercase">Contact</a>
            <p class="mt-6"> Amet veniam commodo cupidatat sint enim aliquip ullamco qui officia et do culpa Lorem. Ullamco sunt excepteur veniam labore exercitation deserunt consectetur aute adipisicing est do proident nisi ut. Non id culpa aute ex.</p>
        </div>

        <!-- footer subscribe -->

        <form class="col-span-2 md:text-right gap-6">
            <label for="email" class="mb-6 block font-serif text-xl uppercase"> Subscribe our newsletter</label>
            <input type="email" id="email" name="email" class="mb-6 max-w-sm w-full md:ml-auto bg-transparent border border-white p-2 outline-white">
            <div><button type="submit" class="button bg-white text-pumpkin border border-white hover:text-white hover:bg-pumpkin"> Subscribe </button></div>
        </form>
    </nav>
    <div class="px-5p py-8 border-t border-white uppercase tracking-widest">
        <a href="#">Built By Chloe Lee</a>
    </div>
</footer>